/* ============================================= */
/*                  Variables                    */
/* ============================================= */
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-light-gray: #ccc;
$color-gray: #777;
$color-white: #fff;
$color-success: #63cc82;
$color-warning: #fd7856;
$color-error: #e4757a;
$color-info: #927bc1;

$font-lato: 'Lato', sans-serif;

$break-point: 768px;

$gutter: 10px;
$max-width: 1400px;

